@use "sass:color";
@use "sass:map";


$breakpoints: (
  "sm": 576px,   // Большие смартфоны / ландшафт
  "md": 768px,   // Планшеты (Основная смена сетки)
  "lg": 1024px,  // Ноутбуки / Большие планшеты
  "xl": 1280px,  // Стандартные ПК (Ограничение контейнера)
  "xxl": 1536px  // Большие Full HD мониторы
);

// Максимальная ширина контента
$container-max-width: 1240px;

$container-padding-mobile: 16px;
$container-padding-tablet: 24px;
$container-padding-desktop: 32px;

@mixin respond-to($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @media (min-width: $breakpoint) {
      @content;
    }
  }
}


// Основные цвета
$color-primary-dark: #0F1A2B;
$color-primary-light: #D1CFC9;
$color-surface: #1C2E4A;

// Доп цвета (акценты)
$color-accent-mid: #52677D;
$color-accent-light: #BDC4D4;
$color-text-inverse: #0F1A2B;

// Цвета для текста
$color-text-on-dark: #D1CFC9;
$color-text-on-light: #0F1A2B;
$color-text-muted: #52677D;

// Границы и разделители
$color-border-subtle: rgba(82, 103, 125, 0.3);
$color-border-strong: rgba(209, 207, 201, 0.6);

// Шрифты
$font-heading: 'Playfair Display', serif;
$font-body: 'Lora', serif;

// Формы
$border-radius-sharp: 2px;
$border-radius-card: 4px;

// Переходы и анимация
$transition-fast: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
$transition-base: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
$transition-slow: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);